table{
border-style: solid;
border-color: pink;
border-width: 3;
width: 100%;
}
th{
    border-style: solid;
    border-color: pink;
    border-width: 3px;
    
}
td{
    border-style: solid;
    border-color:pink;
    border-width: 3px;
    background-color: pink;
}
